@charset "utf-8";

:root{
    --cor1: #2692EB;
    --cor2: #17B0D4;
    --cor3: #1BF6E4;
    --cor4: #174DD4;
    --cor5: #1B20F6;
}
body{
    text-align: justify;
}
nav{
    background-image: linear-gradient(90deg, #1B20F6 0%, #17B0D4 50%, #1B20F6 100%);    
    text-align: right;
}
nav > ul a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

header{
    background-image: linear-gradient(90deg, #1B20F6 0%, #17B0D4 50%, #1B20F6 100%);
}

header p > a:hover{
    background-color: var(--cor3); 
    color:#1B20F6 ;  
}

section h2{
    background-image: linear-gradient(90deg,var(--cor5), transparent );
    color: #01024b ;
    font-weight: 800;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translate3d(50%, 0, 0);
}
[data-anime="bottom"]{
    transform: translate3d(0, 100%, 0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
}


