@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sriracha&display=swap');

/*font-family: 'Permanent Marker', cursive;
font-family: 'Sriracha', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Sriracha&display=swap');
/*font-family: 'Kalam', cursive;
font-family: 'Sriracha', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Sriracha&display=swap');

/*font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Sriracha', cursive;*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    text-align: justify;
    
}

:root{
    --cor01: #4D4D4D;
    --cor02: #4D4545;
    --cor03: #3D4D42;
    --cor04: #000000;
    --cor05: #ffffff;
}
html, body{
    min-height: 100vh;
}
nav{
    background-image: linear-gradient(90deg, #000000 0%,  #4D4545 50%, #000000 100% );
    padding: 10px;
    text-align: right;
}
nav >ul > a{
    padding: 5px;
    font-size: 1.2em;
    color: var(--cor05);
    text-decoration: none;  
    font-weight: 600;
    border-radius: 5px;  
}
nav > ul a:hover{
    background-color: #b0b0b0;
    color: var(--cor04);
}

header{
    background-image: linear-gradient(90deg, #000000 0%,  #4D4545 50%, #000000 100% );
    padding: 10px 40px 40px 40px;
    color: var(--cor05);
    text-align: center;
}
header > h1{
    font-family: 'Kalam', cursive;
    font-size: 8vw;
    padding-bottom: 10px;
    font-variant: small-caps;
}
header > p{
    font-weight: 600;
    font-size: 1.1em;
}
header p > a{
    color: var(--cor05);
    padding: 5px;
    border-radius: 5px; 
    font-family: 'Kalam', cursive;
    font-weight: 600;
    font-size: 1.1em;
}
header p > a:hover{
    background-color: #b0b0b0;    
}

section{
    padding: 40px;
    padding-top: 10%;
    padding-bottom: 10%;
}
section h2{
    background-image: linear-gradient(90deg, #000, transparent );
    margin-left: -30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--cor05);
    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 4vw;
}
section img{
    display: block;
    margin: auto;
    width: 50vw;    
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.579);
    margin-bottom: 5%;
    margin-top: 5%;
}
section p{    
    line-height: 2em;
    font-size: 2vw;
    text-indent: 30px;
    font-family: 'Nanum Gothic Coding', monospace;
}
strong{
    font-weight: 600;
    font-family: 'Nanum Gothic Coding', monospace;
}
ul {
    list-style-type: '☑️\00a0\00a0';
    list-style-position: inside;
    background-color: #202422;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 2vw;
    
}
ul > li{
    font-family: 'Nanum Gothic Coding', monospace;
}
section.imagem{
    background-color: #4D4D4D;
    height: 50vh;
}

section#imagem01{
    background-image: url('../imagem/codigoSequencial.png');    
    background-attachment: fixed;
    background-size: cover;
    background-position: center left;
}
section#imagem02{
    background-image: url('../imagem/binaria.png');    
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
section#imagem03{
    background-image: url('../imagem/codigoBuSort.png');    
    background-attachment: fixed;
    background-size: cover;   
    background-position: top center;
}
footer{
    background-color: black;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
footer > p {
    color: var(--cor05);
}
footer > p > a {
    color: var(--cor05);
}


